@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif !important;
  /* overflow-x: hidden!important;  */
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
* {
  box-sizing: border-box;
}

.ccc {
  outline: none !important;
}

/* app animations */

.animated-popper {
  animation: animated-popper 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  transform-origin: bottom;
}

@keyframes animated-popper {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.light {
  /* background-color: #f5f5f5; */
  background-color: #f4fcff;
}

.dark {
  background-color: #0f0f0f;
  color: #eeeeee;
}

.light ::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 6px;
  border-radius: 10px;
}
.light ::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar {
  background-color: #373737;
  width: 6px;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #272727;
  border-radius: 10px;
}

.forumFormTabs .Mui-selected {
  color: #26a69a !important;
}

@media (max-width: 600px) {
  .light ::-webkit-scrollbar {
    display: none;
  }
  .dark ::-webkit-scrollbar {
    display: none;
  }

  .modalMb {
    animation: modal 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: bottom;
  }

  @keyframes modal {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

.sideBarAnimated {
  animation: sideBarAnimated 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: left;
}

@keyframes sideBarAnimated {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.modalPage {
  animation: modalPage 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: right;
}

@keyframes modalPage {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.workspaceModalIn {
  animation: workspaceModalIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: left;
}

@keyframes workspaceModalIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}


.workspaceModalOut {
  display: none;
  animation: workspaceModalOut 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes workspaceModalOut {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(500px);
  }
}


.toast {
  animation: toast 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: top;
}

@keyframes toast {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.trans-from-top {
  animation: trans-from-top 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: top;
}

@keyframes trans-from-top {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.FileItem {
  animation: FileItem 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes FileItem {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.trans-from-bottom {
  animation: trans-from-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes trans-from-bottom {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}
.trans-from-left {
  animation: trans-from-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes trans-from-left {
  0% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(0);
  }
}
.trans-from-right {
  animation: trans-from-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes trans-from-right {
  0% {
    transform: translateX(600px);
  }

  100% {
    transform: translateX(0);
  }
}

.MuiTabs-flexContainer {
  background-color: transparent !important;
}
