html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.ccc{
  outline: none!important;
}



/* app animations */


.animated-popper {
  animation: animated-popper 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  transform-origin: bottom;
}

@keyframes animated-popper {
        0%{
            transform: scale(0.9);
        }
        100%{
            transform: scale(1);
        }
}
