@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ccc {
  outline: none !important;
}

/* app animations */

.animated-popper {
  animation: animated-popper 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  transform-origin: bottom;
}

@keyframes animated-popper {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.light {
  background-color: #f4fcff;
}

.dark {
  background-color: #181b34;
  color: #eeeeee;
}

.light ::-webkit-scrollbar {
  background-color: #ddd;
  width: 6px;
  border-radius: 0px;
}
.light ::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 0px;
}

.dark ::-webkit-scrollbar {
  background-color: #181b34;
  width: 6px;
  border-radius: 0px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #393e5b;
  border-radius: 0px;
}

.forumFormTabs .Mui-selected {
  color: #26a69a !important;
}

@media (max-width: 600px) {
  .light ::-webkit-scrollbar {
    display: none;
  }
  .dark ::-webkit-scrollbar {
    display: none;
  }

  .modalMb {
    animation: modal 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: bottom;
  }

  @keyframes modal {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

.sideBarAnimated {
  animation: sideBarAnimated 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: left;
}

@keyframes sideBarAnimated {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.modalPage {
  animation: modalPage 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: right;
}

@keyframes modalPage {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.toast {
  animation: toast 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: right;
}

@keyframes toast {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.FileItem {
  animation: FileItem 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes FileItem {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
